// Variables

// scss-docs-start theme-color-variables
$primary:        #132f53 !default;
$secondary:      #495057 !default;
$success:        #457d54 !default;
$info:           #2a69b8 !default;
$warning:        #ffb514 !default;
$danger:         #c52827 !default;
$light:          #f8f9fa !default;
$dark:           #212529 !default;
// scss-docs-end theme-color-variables

// scss-docs-start theme-colors-map
$theme-colors: (
  primary:      #132f53,
  secondary:    #495057,
  success:      #457d54,
  info:         #2a69b8,
  warning:      #ffb514,
  danger:       #c52827,
  light:        #f8f9fa,
  dark:         #212529,
  focus:        #39f,
  focus-shadow: #eaeaea,
);
// scss-docs-end theme-colors-map

$atum-colors: (
  template-sidebar-bg:             var(--template-bg-dark-80),
  template-sidebar-font-color:     var(--bs-white),
  template-sidebar-link-color:     var(--bs-white),
  template-bg-light:               #f0f4fb, //light background color, frontend dashboard background
  template-text-light:             var(--bs-white),
  template-special-color:          var(--bs-primary),
  template-link-color:             var(--bs-primary),
  template-link-hover-color:       darken($primary, 20%),
  template-contrast:               $primary,
  template-bg-dark:                hsl(var(--hue), 40%, 20%),
  template-bg-dark-3:              hsl(var(--hue), 40%, 97%),
  template-bg-dark-5:              hsl(var(--hue), 40%, 95%),
  template-bg-dark-7:              hsl(var(--hue), 40%, 93%),
  template-bg-dark-10:             hsl(var(--hue), 40%, 90%),
  template-bg-dark-15:             hsl(var(--hue), 40%, 85%),
  template-bg-dark-20:             hsl(var(--hue), 40%, 80%),
  template-bg-dark-30:             hsl(var(--hue), 40%, 70%),
  template-bg-dark-40:             hsl(var(--hue), 40%, 60%),
  template-bg-dark-50:             hsl(var(--hue), 40%, 50%),
  template-bg-dark-60:             hsl(var(--hue), 40%, 40%),
  template-bg-dark-65:             hsl(var(--hue), 40%, 35%),
  template-bg-dark-70:             hsl(var(--hue), 40%, 30%),
  template-bg-dark-75:             hsl(var(--hue), 40%, 25%),
  template-bg-dark-80:             hsl(var(--hue), 40%, 20%),
  template-bg-dark-90:             hsl(var(--hue), 40%, 10%)
);

// Alerts
$alert-border-level:               0;
$alert-color-level:                0;

// Global
$input-border-color:               var(--bs-border-color);
$input-focus-border-color:         var(--bs-focus);
$input-box-shadow:                 0 2px 10px -8px var(--bs-border-color);
$input-max-width:                  100%;
$input-btn-focus-width:            .2rem;
$input-btn-focus-color:            var(--bs-focus-shadow);
$input-btn-padding-y:              .5rem;
$input-btn-padding-x:              1rem;

// Toolbar
$atum-toolbar-line-height:         2.45rem;

// Sidebar
$sidebar-width:                    18rem;
$sidebar-width-login:              28.75rem;
$sidebar-width-closed:             3rem;
$main-brand-height:                3rem;

// Fonts
$h1-font-size:                     1.65rem;
$h2-font-size:                     1.5rem;
$h3-font-size:                     1.25rem;
$h4-font-size:                     1rem;
$h5-font-size:                     .9286rem;
$h6-font-size:                     .8571rem;
$font-size-sm:                     .8rem;
$font-size-vsm:                    .6rem;
$display1-size:                    1rem;
$display2-size:                    .875rem;
$content-font-size:                .875rem;
$label-font-size:                  1rem;
$badge-font-size:                  .75rem;
$jicon-css-prefix:                 icon !default;
$fa-css-prefix:                    fa !default;
$fa-font-path:                     "../../../../media/vendor/fontawesome-free/webfonts";
$roboto-font-path:                 "../../../../../media/vendor/roboto-fontface/fonts";

// Font weights
$thin-weight:                      100;
$extralight-weight:                200;
$light-weight:                     300;
$normal-weight:                    400;
$medium-weight:                    500;
$semibold-weight:                  600;
$bold-weight:                      700;
$extrabold-weight:                 800;
$black-weight:                     900;

// Tables
$table-cell-padding-y:             .75rem;
$table-cell-padding-x:             1rem;
$table-cell-padding-y-sm:          .3rem;
$table-cell-padding-x-sm:          .3rem;

// Dropdowns
$dropdown-padding-y:               0;
$dropdown-box-shadow:              0 .0625rem .0625rem var(--bs-border-color);
$dropdown-border-width:            .0625rem;
$dropdown-item-padding-y:          .5rem;
$dropdown-item-padding-x:          .75rem;
$dropdown-spacer:                  0;

// Cards
$card-border-width:                0;
$card-border-color:                transparent;

// Alerts
$state-success-text:               $success;
$state-success-bg:                 lighten($success, 58%);
$state-success-border:             hsl(var(--hue),50%,93%);

$state-info-text:                  var(--template-bg-dark-70);
$state-info-bg:                    var(--bs-white);
$state-info-border:                var(--template-bg-dark-70);

$state-warning-text:               darken($warning, 24%);
$state-warning-bg:                 lighten($warning, 44%);
$state-warning-border:             $warning;

$state-danger-text:                $danger;
$state-danger-bg:                  lighten($danger, 52%);
$state-danger-border:              $danger;

$state-error-text:                 $danger;
$state-error-bg:                   lighten($danger, 52%);
$state-error-border:               $danger;

// Badges
$badge-padding-x:                  .2rem;
$badge-padding-y:                  .3rem;
$badge-border-radius:              .2rem;

$success-bg:                       $success;
$success-txt:                      var(--bs-white);

$warning-bg:                       #f9d71c;
$warning-txt:                      #000;

$danger-bg:                        #900;
$danger-txt:                       #fff;

$info-bg:                          var(--bs-gray-300);
$info-txt:                         var(--bs-white);

// Input Group
$input-group-addon-color:          var(--bs-white);
$input-group-addon-bg:             var(--bs-white);
$input-group-addon-border-color:   var(--template-bg-dark);

// Treeselect
$treeselect-line-height:           2.2rem;
$treeselect-indent:                2.5rem;

// List
$list-group-bg:                    var(--bs-white-offset);
$list-group-border-color:          hsl(var(--hue),40%,85%);
$list-group-item-padding-y:        .75rem;

// Buttons
$input-btn-padding-y-sm-submenu:    0;
$input-btn-padding-x-sm-submenu:    1.625rem;
$input-btn-submenu-icon-distance:   1rem;

// Custom form
$form-file-button-color:           $primary;

//input
$input-padding-y: .5rem !default;
$input-padding-x: 1rem !default;

// Modals
$modal-header-height:              2.875rem;

// Quickicons
$quickicon-bg:                     var(--bs-white);
$quickicon-box-shadow-success:     0 0 .188rem 0 var(--bs-success);
$quickicon-box-shadow-danger:      0 0 .188rem 0 var(--bs-danger);
$quickicon-box-shadow-warning:     0 0 .188rem 0 var(--bs-warning);
$quickicon-icon-size:              2rem;
$quickicon-icon-size-sm:           1.3rem;

// Gutter
$grid-gutter-width:                2rem;
$grid-gutter-width-s:              .95rem;

// Breadcrumbs
$breadcrumb-bg:                    var(--bs-white);

// Links
// $link-color:                       $primary; // var(--template-link-color);
// $link-hover-color:                 darken($primary, 24%); //var(--template-link-hover-color);
// $link-decoration:                  none;

// Z-Index list
$zindex-negative:                  -1;
$zindex-actions:                   auto;
$zindex-toolbar:                   1000;
$zindex-sidebar:                   1010;
$zindex-header:                    1020;
$zindex-alerts:                    1030;
$zindex-modal-backdrop:            1040;
$zindex-modal:                     1050;
$zindex-popover:                   1060;
$zindex-tooltip:                   1070;
$zindex-mobile-bottom:             8000;
$zindex-mobile-toggle:             9999;
$zindex-mobile-menu:               9000;
