// Remove prefix added in BS5 for compat with Joomla beta's shipped with Betas
// $prefix: "";

// Bootstrap functions
@import "../../../../../node_modules/bootstrap/scss/functions";
@import "../../../../../node_modules/bootstrap/scss/variables";
@import "../../../../../node_modules/bootstrap/scss/variables-dark.scss";

// Atum Variables
@import "variables";

@import "../../../../../node_modules/bootstrap/scss/maps";
@import "../../../../../node_modules/bootstrap/scss/mixins";
@import "../../../../../node_modules/bootstrap/scss/utilities";

@mixin color-mode($mode: light, $root: false) {
  @if $color-mode-type == "media-query" {
    @if $root == true {
      @media (prefers-color-scheme: $mode) {
        :root:not([data-bs-theme=light]) {
          @content;
        }
      }
    } @else {
      @media (prefers-color-scheme: $mode) {
        @content;
      }
    }
  } @else {
    [data-bs-theme="#{$mode}"] {
      @content;
    }
  }
}

// Bootstrap
// Layout & components
@import "../../../../../node_modules/bootstrap/scss/root";
@import "../../../../../node_modules/bootstrap/scss/reboot";
@import "../../../../../node_modules/bootstrap/scss/type";
@import "../../../../../node_modules/bootstrap/scss/images";
@import "../../../../../node_modules/bootstrap/scss/containers";
@import "../../../../../node_modules/bootstrap/scss/grid";
@import "../../../../../node_modules/bootstrap/scss/tables";
@import "../../../../../node_modules/bootstrap/scss/forms";
@import "../../../../../node_modules/bootstrap/scss/buttons";
@import "../../../../../node_modules/bootstrap/scss/transitions";
@import "../../../../../node_modules/bootstrap/scss/dropdown";
@import "../../../../../node_modules/bootstrap/scss/button-group";
@import "../../../../../node_modules/bootstrap/scss/nav";
@import "../../../../../node_modules/bootstrap/scss/navbar";
@import "../../../../../node_modules/bootstrap/scss/card";
@import "../../../../../node_modules/bootstrap/scss/accordion";
@import "../../../../../node_modules/bootstrap/scss/breadcrumb";
@import "../../../../../node_modules/bootstrap/scss/pagination";
@import "../../../../../node_modules/bootstrap/scss/badge";
@import "../../../../../node_modules/bootstrap/scss/alert";
@import "../../../../../node_modules/bootstrap/scss/progress";
@import "../../../../../node_modules/bootstrap/scss/list-group";
@import "../../../../../node_modules/bootstrap/scss/close";
@import "../../../../../node_modules/bootstrap/scss/toasts";
@import "../../../../../node_modules/bootstrap/scss/modal";
@import "../../../../../node_modules/bootstrap/scss/tooltip";
@import "../../../../../node_modules/bootstrap/scss/popover";
@import "../../../../../node_modules/bootstrap/scss/carousel";
@import "../../../../../node_modules/bootstrap/scss/spinners";
@import "../../../../../node_modules/bootstrap/scss/offcanvas";
@import "../../../../../node_modules/bootstrap/scss/placeholders";

// Helpers
@import "../../../../../node_modules/bootstrap/scss/helpers";

// Utilities
@import "../../../../../node_modules/bootstrap/scss/utilities/api";


@import "blocks/global"; // Leave this first

// jQuery Minicolors
// @import "../../../../../media/system/scss/jquery-minicolors";

// Vendor overrides
@import "vendor/bootstrap/badge";
@import "vendor/bootstrap/buttons";
@import "vendor/bootstrap/card";
@import "vendor/bootstrap/custom-forms";
@import "vendor/bootstrap/collapse";
@import "vendor/bootstrap/dropdown";
@import "vendor/bootstrap/form";
@import "vendor/bootstrap/lists";
@import "vendor/bootstrap/modal";
@import "vendor/bootstrap/pagination";
@import "vendor/bootstrap/reboot";
@import "vendor/bootstrap/table";

// Blocks
@import "blocks/alerts";
@import "blocks/edit";
@import "blocks/header";
@import "blocks/form";
@import "blocks/icons";
@import "blocks/iframe";
@import "blocks/layout";
@import "blocks/login";
@import "blocks/modals";
@import "blocks/quickicons";
@import "blocks/lists";
@import "blocks/sidebar";
@import "blocks/sidebar-nav";
@import "blocks/switcher";
@import "blocks/toolbar";
@import "blocks/treeselect";
@import "blocks/utilities";

// These DO NOT BELONG HERE!!!
@import "vendor/codemirror";
@import "vendor/dragula";
@import "vendor/tinymce";

// Also these DO NOT BELONG HERE!!!
// Page specifics
@import "pages/com_config";
@import "pages/com_content";
@import "pages/com_cpanel";
@import "pages/com_joomlaupdate";
@import "pages/com_modules";
@import "pages/com_tags";
@import "pages/com_privacy";
@import "pages/com_templates";
@import "pages/com_users";

// Custom Atum colors
:root {
  @each $color, $value in $atum-colors {
    --#{$prefix}#{$color}: #{$value};
  }
  color-scheme: light;
  accent-color: var(--bs-primary);
  --template-select-indicator: url("../images/select-bg-light.svg") #{"/* rtl:"}url("../images/select-bg-light-rtl.svg")#{"*/"};
  --template-select-indicator-active: url("../../../images/select-bg-light-active.svg") #{"/* rtl:"}url("../../../images/select-bg-light-active-rtl.svg")#{"*/"};

  body {
    background-color: var(--template-bg-dark-5);
  }
  .table {
    --bs-table-bg: var(--bs-body-bg);
  }

  .choices[data-type*="select-one"],
  .choices[data-type*="select-multiple"] {
    .choices__inner {
      background: var(--template-select-indicator) no-repeat 100%/116rem;
      background-color: var(--bs-border-color);
    }
  }
}

:root[data-bs-theme=dark],
:root:not([data-bs-theme=light]) {
  color-scheme: dark;
  accent-color: var(--bs-primary);
  background-color: var(--bs-black);
  color: var(--bs-body-color);
  --template-text-light: var(--bs-body-color);
  --template-select-indicator: url("../images/select-bg-dark.svg") #{"/* rtl:"}url("../images/select-bg-dark-rtl.svg")#{"*/"};
  --template-select-indicator-active: url("../../../images/select-bg-dark-active.svg") #{"/* rtl:"}url("../../../images/select-bg-dark-active-rtl.svg")#{"*/"};

  body {
    background-color: var(--bs-black);
  }
  .quick-icons .quickicon, .cpanel-add-module {
    --bg-color: hsl(var(--hue), 30%, 7%);
  }
  .com_cpanel .module-actions > * {
    color: var(--template-bg-dark-10);
  }
  .switcher .toggle-inside {
    background: var(--bs-body-bg);
  }
  joomla-field-media .field-media-preview {
    background-color: var(--bs-tertiary-bg);
  }
  .choices__input {
    color: var(--bs-body-color);
  }
  .choices[data-type*="select-one"],
  .choices[data-type*="select-multiple"] {
    .choices__inner {
      background: var(--template-select-indicator) no-repeat right center/116rem #{"/* rtl:"}var(--template-select-indicator) no-repeat left center/116rem#{"*/"};
      background-color: var(--bs-border-color);
    }
  }
  joomla-field-mediamore details {
    background-color: var(--bs-body-bg);
  }
  .subhead {
    --subhead-btn-bg: var(--bs-dark);
    & .btn {
      color: var(--template-text-light);
      &:hover,
      &:focus {
        color: var(--bs-white);
      }
    }
  }
  .quick-icons .quickicon-linkadd {
    background-color: hsl(var(--hue), 30%, 7%);
    border-inline-start: 1px solid var(--bs-border-color);
  }
  .image-background {
    --accent-color: var(--bs-gray-800);
  }
}

// Forcing reduced motion when set in the user OS
@media (prefers-reduced-motion: reduce) {
  *, ::before, ::after {
    background-attachment: initial !important;
    transition-delay: 0s !important;
    // temp fix until https://github.com/onokumus/metismenujs/issues/9 is addressed
    transition-duration: .001ms !important;
    animation-duration: 1ms !important;
    animation-delay: -1ms !important;
    animation-iteration-count: 1 !important;
    scroll-behavior: auto !important;
  }
}
