// Remove prefix added in BS5 for compat with Joomla beta's shipped with Betas
// $prefix: "";

// Bootstrap functions
@import "../../../../../node_modules/bootstrap/scss/functions";

// Atum Variables
@import "variables";
@import "../../../../../node_modules/bootstrap/scss/variables";
@import "../../../../../node_modules/bootstrap/scss/variables-dark.scss";

@import "../../../../../node_modules/bootstrap/scss/maps";
@import "../../../../../node_modules/bootstrap/scss/mixins";
@import "../../../../../node_modules/bootstrap/scss/utilities";

// Bootstrap
// Layout & components
@import "root";
@import "../../../../../node_modules/bootstrap/scss/reboot";
@import "../../../../../node_modules/bootstrap/scss/type";
@import "../../../../../node_modules/bootstrap/scss/images";
@import "../../../../../node_modules/bootstrap/scss/containers";
@import "../../../../../node_modules/bootstrap/scss/grid";
@import "../../../../../node_modules/bootstrap/scss/tables";
@import "../../../../../node_modules/bootstrap/scss/forms";
@import "../../../../../node_modules/bootstrap/scss/buttons";
@import "../../../../../node_modules/bootstrap/scss/transitions";
@import "../../../../../node_modules/bootstrap/scss/dropdown";
@import "../../../../../node_modules/bootstrap/scss/button-group";
@import "../../../../../node_modules/bootstrap/scss/nav";
@import "../../../../../node_modules/bootstrap/scss/navbar";
@import "../../../../../node_modules/bootstrap/scss/card";
@import "../../../../../node_modules/bootstrap/scss/accordion";
@import "../../../../../node_modules/bootstrap/scss/breadcrumb";
@import "../../../../../node_modules/bootstrap/scss/pagination";
@import "../../../../../node_modules/bootstrap/scss/badge";
@import "../../../../../node_modules/bootstrap/scss/alert";
@import "../../../../../node_modules/bootstrap/scss/progress";
@import "../../../../../node_modules/bootstrap/scss/list-group";
@import "../../../../../node_modules/bootstrap/scss/close";
@import "../../../../../node_modules/bootstrap/scss/toasts";
@import "../../../../../node_modules/bootstrap/scss/modal";
@import "../../../../../node_modules/bootstrap/scss/tooltip";
@import "../../../../../node_modules/bootstrap/scss/popover";
@import "../../../../../node_modules/bootstrap/scss/carousel";
@import "../../../../../node_modules/bootstrap/scss/spinners";
@import "../../../../../node_modules/bootstrap/scss/offcanvas";
@import "../../../../../node_modules/bootstrap/scss/placeholders";

// Helpers
@import "../../../../../node_modules/bootstrap/scss/helpers";

// Utilities
@import "../../../../../node_modules/bootstrap/scss/utilities/api";


@import "blocks/global"; // Leave this first

// jQuery Minicolors
// @import "../../../../../media/system/scss/jquery-minicolors";

// Vendor overrides
@import "vendor/bootstrap/badge";
@import "vendor/bootstrap/buttons";
@import "vendor/bootstrap/card";
@import "vendor/bootstrap/custom-forms";
@import "vendor/bootstrap/collapse";
@import "vendor/bootstrap/dropdown";
@import "vendor/bootstrap/form";
@import "vendor/bootstrap/lists";
@import "vendor/bootstrap/modal";
@import "vendor/bootstrap/pagination";
@import "vendor/bootstrap/reboot";
@import "vendor/bootstrap/table";

// Blocks
@import "blocks/alerts";
@import "blocks/edit";
@import "blocks/header";
@import "blocks/form";
@import "blocks/icons";
@import "blocks/iframe";
@import "blocks/layout";
@import "blocks/login";
@import "blocks/modals";
@import "blocks/quickicons";
@import "blocks/lists";
@import "blocks/sidebar";
@import "blocks/sidebar-nav";
@import "blocks/switcher";
@import "blocks/toolbar";
@import "blocks/treeselect";
@import "blocks/utilities";

// These DO NOT BELONG HERE!!!
@import "vendor/codemirror";
@import "vendor/dragula";
@import "vendor/tinymce";

// Also these DO NOT BELONG HERE!!!
// Page specifics
@import "pages/com_config";
@import "pages/com_content";
@import "pages/com_cpanel";
@import "pages/com_joomlaupdate";
@import "pages/com_modules";
@import "pages/com_tags";
@import "pages/com_privacy";
@import "pages/com_templates";
@import "pages/com_users";


/* base */
:root {
  --ease-3: cubic-bezier(.25, 0, .3, 1);
  --fade-in-bloom: fade-in-bloom .3s var(--ease-3);
  --fade-out: fade-out .3s var(--ease-3);
}

@view-transition {
  navigation: auto;
}

::view-transition-old(root) {
  animation: var(--fade-out) forwards;
}

::view-transition-new(root) {
  animation: var(--fade-in-bloom) forwards;
}

@keyframes fade-in {
  to {
    opacity: 1;
  }
}

@keyframes fade-in-bloom {
  0% {
    filter: brightness(1) blur(20px);
    opacity: 0;
  }

  10% {
    filter: brightness(2) blur(10px);
    filter: brightness(.5) blur(10px);
    opacity: 1;
  }

  to {
    filter: brightness(1) blur(0);
    opacity: 1;
  }
}

@keyframes fade-out {
  to {
    opacity: 0;
  }
}

@keyframes fade-out-bloom {
  to {
    filter: brightness(1) blur(20px);
    opacity: 0;
  }

  10% {
    filter: brightness(2) blur(10px);
    filter: brightness(.5) blur(10px);
    opacity: 1;
  }

  0% {
    filter: brightness(1) blur(0);
    opacity: 1;
  }
}

@keyframes scale-up {
  to {
    transform: scale(1.25);
  }
}

@keyframes scale-down {
  to {
    transform: scale(.75);
  }
}

@keyframes slide-out-up {
  to {
    transform: translateY(-100%);
  }
}

@keyframes slide-out-down {
  to {
    transform: translateY(100%);
  }
}

@keyframes slide-out-right {
  to {
    transform: translate(100%);
  }
}

@keyframes slide-out-left {
  to {
    transform: translate(-100%);
  }
}

@keyframes slide-in-up {
  0% {
    transform: translateY(100%);
  }
}

@keyframes slide-in-down {
  0% {
    transform: translateY(-100%);
  }
}

@keyframes slide-in-right {
  0% {
    transform: translate(-100%);
  }
}

@keyframes slide-in-left {
  0% {
    transform: translate(100%);
  }
}

@keyframes shake-x {
  0%,
  to {
    transform: translate(0);
  }

  20% {
    transform: translate(-5%);
  }

  40% {
    transform: translate(5%);
  }

  60% {
    transform: translate(-5%);
  }

  80% {
    transform: translate(5%);
  }
}

@keyframes shake-y {
  0%,
  to {
    transform: translateY(0);
  }

  20% {
    transform: translateY(-5%);
  }

  40% {
    transform: translateY(5%);
  }

  60% {
    transform: translateY(-5%);
  }

  80% {
    transform: translateY(5%);
  }
}

@keyframes spin {
  to {
    transform: rotate(1turn);
  }
}

@keyframes ping {
  90%,
  to {
    opacity: 0;
    transform: scale(2);
  }
}

@keyframes blink {
  0%,
  to {
    opacity: 1;
  }

  50% {
    opacity: .5;
  }
}

@keyframes float {
  50% {
    transform: translateY(-25%);
  }
}

@keyframes bounce {
  25% {
    transform: translateY(-20%);
  }

  40% {
    transform: translateY(-3%);
  }

  0%,
  60%,
  to {
    transform: translateY(0);
  }
}

@keyframes pulse {
  50% {
    transform: scale(.9);
  }
}

